.Rproj.user
.Rhistory
.RData
.Ruserdata
data/WFO_Backbone
R/backup
Output
data
.Rprofile
renv.lock
renv/.gitignore
renv/activate.R
renv/settings.dcf
.Rapp.history
*-Ex.R
/*.tar.gz
README.html
tests/testthat/Rplots.pdf
/doc/
/Meta/
out-check.txt
out-testthat.txt
out-gp.txt
.DS_Store
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
po/*~
rsconnect/
/*_files/
.dir-locals.el
check/
